<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @profesore.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @profesore.apellido %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @profesore.rol %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @profesore.cargo %>
</p>

<%= link_to 'Edit', edit_profesore_path(@profesore) %> |
<%= link_to 'Back', profesores_path %>
